.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: .5rem;
    font-size: .8rem;
    font-family: var(--work-sans);
    font-weight: 300;
}
.footer > a {
    color: var(--color-text-primary);
    text-decoration: unset;
}
.footer > a:first-child {
    margin-right: .5rem;
}
.footer > a:first-child::after {
    content: "-";
    margin-left: .5rem;
}