@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Signika:wght@300;400;500;600;700&display=swap');
:root {
    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;
    --color-background-primary: #2a2a35;
    --color-background-secondary: #dddddd;
    --pacifico: 'Pacifico', cursive;
    --signika: 'Signika', sans-serif;
}
body {
    background-color: var(--color-background-primary);
    height: 100vh;
    min-height: 100vh;
}
#__next {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-text-primary);
    margin: 0 8px;
}