.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 4px solid var(--color-text-primary);
	padding: 1rem;
	width: 100%;
}
.header__title {
	margin-bottom: 0;
}
.header__search {
	width: 20rem;
}
@media (max-width: 768px) {
	.header {
		flex-flow: column;
	}
	.header__title {
		margin-bottom: 1rem !important;
	}
}
