.layout {
	display: flex;
	flex-flow: column;
	background-color: var(--color-background-primary);
	width: 60rem;
	height: 100%;
	color: var(--color-text-primary);
}
.layout__body {
	display: flex;
	flex: 1;
	flex-flow: column;
	box-sizing: border-box;
	width: 100%;
}
