.notification {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    max-width: 15rem;
    padding: .5rem;
    background: var(--color-text-secondary);
    border-radius: 3rem;
    border: 3px solid var(--color-text-primary);
    z-index: 9999;
    font-family: var(--work-sans);
    font-weight: 300;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom .3s ease-in-out;
}
.notification__icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.notification__icon__success {
    background: var(--color-success);
}
.notification__icon__error {
    background: var(--color-error);
}
.notification__text {
    flex: 1;
    margin: 0 .5rem;
}