.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-family: var(--work-sans);
}
.pagination__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 0.8rem;
}
.pagination__item[aria-label='active-page'] {
	box-sizing: border-box;
	border: 2px solid var(--color-text-primary);
	border-radius: 0.5rem;
	padding: 0.6rem;
	font-weight: 700;
}
.pagination__item__chevron {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.2rem;
	font-size: 1rem;
}
.pagination__item,
.pagination__item__chevron {
	cursor: pointer;
	margin: 0 0.3rem;
	user-select: none;
}
.pagination__item__chevron[aria-disabled='true'] {
	cursor: default;
	color: var(--color-background-secondary);
}
@media (max-width: 768px) {
	.pagination__item__chevron__inside {
		display: none;
	}
}
