.sentence_results {
    margin-bottom: 1.5rem;
}
.sentence_results__header {
    background-color: var(--color-vip-blue);
    padding: 1rem;
    font-family: var(--pacifico);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sentence_results__header > a {
    color: var(--color-text-primary);
    text-decoration: none;
}
.sentence_results__header > a > span {
    font-family: var(--work-sans);
    font-size: .7rem;
    margin-left: 1rem;
}
.sentence_results__result {
    font-family: var(--work-sans);
    line-height: 1.2rem;
    font-weight: 300;
    display: flex;
    padding: .65rem;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.sentence_results__result:nth-child(even) {
    background-color: transparent;
    border-left: 4px solid var(--color-background-tertiary);
    border-right: 4px solid var(--color-background-tertiary);
}
.sentence_results__result:nth-last-child(1) {
    border-bottom: 4px solid var(--color-background-tertiary);
}
.sentence_results__result:nth-child(odd) {
    background-color: var(--color-background-tertiary);
}
.sentence_results__result__sentence {
    flex: 1;
    padding-right: .5rem;
}
.sentence_results__result__translation {
    flex: 1;
    padding-left: .5rem;
    display: flex;
}
.sentence_results__result__translation__text {
    flex: 1;
}
.sentence_results__result__translation__translated {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: .6rem;
    padding-top: .25rem;
    font-size: 1rem;
    width: 1rem;
    color: var(--color-text-primary);
}
@media (max-width: 768px) {
    .sentence_results__header__number {
        display: none;
    }
    .sentence_results__result {
        flex-flow: column;
    }
    .sentence_results__result__sentence {
        width: 100%;
        padding-right: 0;
    }
    .sentence_results__result__translation {
        width: 100%;
        padding-left: 0;
        color: var(--color-translation-text);
        margin-top: .25rem;
    }
}