.title {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 1.5rem;
	font-size: 3rem;
	font-family: 'Pacifico', cursive;
}
.title > img {
	margin-left: 1rem;
	border-radius: 5px;
	height: 2rem;
}
.title > a {
	color: #ffffff;
	text-decoration: none;
}
.title > a:hover {
	color: #ffffff;
}
.title[data-size='small'] {
	font-size: 2rem;
}
.title[data-size='small'] > img {
	height: 1.5rem;
}
