.tureng {
	margin-bottom: 1.5rem;
}
.tureng__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-tureng);
	padding: 1rem;
	font-size: 1.5rem;
	font-family: var(--pacifico);
}
.tureng__header > a {
	color: var(--color-text-primary);
	text-decoration: none;
}
.tureng__header > a > span {
	margin-left: 1rem;
	font-size: 0.7rem;
	font-family: var(--work-sans);
}
.tureng__result {
	display: flex;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	padding: 0.65rem;
	font-weight: 300;
	line-height: 1.2rem;
	font-family: var(--work-sans);
}
.tureng__result:nth-child(even) {
	border-right: 4px solid var(--color-background-tertiary);
	border-left: 4px solid var(--color-background-tertiary);
	background-color: transparent;
}
.tureng__result:nth-last-child(1) {
	border-bottom: 4px solid var(--color-background-tertiary);
}
.tureng__result:nth-child(odd) {
	background-color: var(--color-background-tertiary);
}
.tureng__result__category {
	width: 12rem;
}
.tureng__result__english {
	display: flex;
	flex: 1;
	padding-right: 1rem;
}
.tureng__result__english__type {
	margin-left: 0.6rem;
	font-style: italic;
}
.tureng__result__turkish {
	flex: 1;
}
@media (max-width: 768px) {
	.tureng__header__number {
		display: none;
	}
	.tureng__result__category {
		display: none;
	}
}
